html {
    font-size: 10px;
}

body {
    background: rgb(48, 48, 47);
    display: flex;
    flex-direction: column;
}

main {
    flex: 3;
}

button {
    text-align: left;
    background: rgb(21, 20, 20);
    padding: 1.6rem 0 1.6rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: rgb(212, 210, 210);
    border: none;
    border-bottom: 1px solid;
}

button:hover {
    background: rgb(50, 47, 47);
}

.effects {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
}

.controls > button {
    flex: 1;
    border-bottom: none;
    text-align: center;
    padding: 1.6rem 0;
}

aside {
    flex: 1;
    margin-left: 0.5rem;
}

label {
    font-size: 1.8rem;
    padding-right: 1.6rem;
}

.input-wrapper {
    background: gray;
    padding: 1.6rem;
}

canvas {
    width: 100%;
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
    }
}